html,
body {
  margin: 0;
  height: 100%;
  font-family: "Lato", sans-serif;
  background-color: var(--white);
}

:root {
  --white: #fcebc5;
  --platinum: #e5e6e4;
  --timber: #feecf9;
  --silver: #a6a2a2;
  --purple: #456990;
  --neon: #a77655;
  --shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075), 0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075), 0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: var(--shadow);
}

.header {
  width: 100%;
  height: 20%;
  background-color: #a77655;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border-bottom: 2px solid var(--neon);
  font-family: "Lato", sans-serif;
}

.header h1 {
  font-size: 3rem;
  letter-spacing: 0.2rem;
  font-family: "Alegreya Sans", sans-serif;
  background-color: var(--white);
  color: black;
  padding: 2rem 0 2rem 0;
  margin: 0;
  border-radius: 0 0 2rem 2rem;
  box-shadow: var(--shadow);
}

.content {
  display: flex;
  width: 100%;
  height: 100%;
}

.toolbar {
  width: 20%;
  height: 100%;
  /* background-color: var(--platinum);
  padding-top: 1rem; */
  /* border-right: 2px solid var(--neon); */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.toolbar button {
  font-size: 3rem;
  width: 100px;
  height: 100px;
  align-self: center;
  border-radius: 50%;
  border: none;
  margin-bottom: 20px;
  color: var(--white);
  background-color: var(--neon);
}

.toolbar button:hover {
  transform: scale(1.05);
  box-shadow: var(--shadow);
}

.fieldContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* box-shadow: var(--shadow); */
  height: 3rem;
  color: var(--neon);
  border-radius: 0 0 2rem 2rem;
}

.sectionActive.fieldContainer:first-of-type {
  background-color: #3b4a34;
  box-shadow: var(--shadow);
  border-radius: 0 0 2rem 2rem;
}

.fieldContainer:first-of-type:hover {
  background-color: #3b4a34;
  color: #feecf9;
  box-shadow: var(--shadow);
  border-radius: 0 0 2rem 2rem;
}

.sectionActive.fieldContainer:nth-of-type(2) {
  background-color: #66afe4;
  box-shadow: var(--shadow);
  border-radius: 0 0 2rem 2rem;
}

.fieldContainer:nth-of-type(2):hover {
  background-color: #66afe4;
  color: #feecf9;
  box-shadow: var(--shadow);
  border-radius: 0 0 2rem 2rem;
}

.sectionActive.fieldContainer:nth-of-type(3) {
  background-color: #9cb692;
  box-shadow: var(--shadow);
  border-radius: 0 0 2rem 2rem;
}

.fieldContainer:nth-of-type(3):hover {
  background-color: #9cb692;
  color: #feecf9;
  box-shadow: var(--shadow);
  border-radius: 0 0 2rem 2rem;
}

.projects {
  background-color: #707070;
  color: #feecf9;
  box-shadow: var(--shadow);
}

.fieldContainer span {
  margin-right: 2rem;
  padding: 0.3rem 0.8rem;
  background-color: #feecf9;
  color: black;
  font-weight: bolder;
  user-select: none;
}

.fieldContainer span:empty {
  display: none;
}

.fields {
  font-size: 1rem;
  color: var(--neon);
  display: flex;
  flex-direction: column;
}

.todoFields {
  padding-left: 10%;
}

.todoFields:hover {
  cursor: pointer;
}

.sectionActive {
  color: #feecf9;
}

.todos {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  /* padding-top: 1rem; */
  background-color: #fdf2d8;
}

.empty {
  color: var(--neon);
  background-color: #fcebc5;
  padding: 1rem 2rem;
  user-select: none;
  font-weight: bold;
  font-size: 1rem;
  margin: 10% 0 0 0;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  transition: 0.2s ease;
  font-weight: bold;
  color: black;
  background-color: transparent;
}

.todo-item:first-of-type {
  margin-top: 1rem;
}

.todo-item:hover {
  transform: scale(1.03);
  box-shadow: var(--shadow);
  transition: 0.2s ease;
}

.right,
.left {
  display: flex;
  align-items: center;
  gap: 2rem;
  height: 100%;
}

.priorityBanner {
  height: 100%;
  width: 10px;
}

.detail {
  padding: 8px 15px;
  background-color: transparent;
  border: 1px solid var(--neon);
  color: var(--neon);
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  outline: none;
}

.detail:hover {
  background-color: var(--neon);
  color: #fdf2d8;
  cursor: pointer;
}

.add-todo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 50%;
  display: flex;
  flex-direction: column;
  box-shadow: var(--shadow);
}

.add-inactive {
  display: none;
}

.content-newTodo {
  display: flex;
  width: 100%;
  height: 100%;
}

.create-new {
  background-color: var(--neon);
  color: #feecf9;
  padding-left: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.create-new span {
  color: #feecf9;
  font-size: 1.5rem;
  font-weight: bolder;
  margin-right: 15px;
}

.create-new span:hover {
  cursor: pointer;
}

/* .types {
  width: 25%;
  height: 100%;
  background-color: var(--platinum);
  padding-left: 1rem;
} */

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background-color: #feecf9;
}

.top {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 1rem;
}

.top input {
  border: none;
  background-color: var(--mint);
  height: 30px;
  font-size: 1.5rem;
  padding-left: 15px;
  color: black;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}

.top input::placeholder {
  color: var(--silver);
  font-family: "Lato", sans-serif;
  font-weight: bold;
}

.top input:last-of-type {
  font-size: 1.2rem;
}

.top input:focus {
  outline: none;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.choices {
  display: flex;
  flex-direction: column;
  width: 75%;
  padding-left: 15px;
}

.choices:first-child {
  color: var(--neon);
  font-size: 1.25rem;
  font-weight: bold;
}

#date {
  border: 1px solid var(--neon);
  color: var(--neon);
  padding: 5px;
  border-radius: 1rem;
}

#date:focus {
  outline: none;
}

.priority {
  display: flex;
  align-items: center;
  gap: 10px;
}

.priority h3 {
  color: var(--neon);
  font-size: 1.25rem;
}

.priority input {
  display: none;
}

.low,
.medium,
.high {
  padding: 5px 15px;
  font-size: 1rem;
  font-weight: bolder;
}

.low {
  border: 2px solid #9cb692;
  color: #9cb692;
}

.low:hover,
#low:checked + .low {
  background-color: #9cb692;
  color: #feecf9;
  cursor: pointer;
}

.medium {
  border: 2px solid orange;
  color: orange;
}

.medium:hover,
#medium:checked + .medium {
  background-color: orange;
  color: var(--platinum);
  cursor: pointer;
}

.high {
  border: 2px solid red;
  color: red;
}

.high:hover,
#high:checked + .high {
  background-color: red;
  color: var(--platinum);
  cursor: pointer;
}

.submit-todo {
  background-color: var(--timber);
  border: 2px solid var(--neon);
  color: var(--neon);
  margin-right: 20px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Lato", sans-serif;
}

.submit-todo:hover {
  background-color: var(--neon);
  color: #feecf9;
  cursor: pointer;
}

/* .priority input {
  display: none;
} */

.is-inactive {
  filter: blur(10px);
}

svg {
  height: 30px;
  width: 30px;
  fill: var(--neon);
}

svg:hover {
  cursor: pointer;
}

.details-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 50%;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
  color: black;
  font-weight: bolder;
}

.details-container p {
  border-top: 1px dashed var(--neon);
  width: 98%;
  padding: 20px 0 20px 2%;
  box-shadow: var(--shadow);
  margin: 0;
}

.exitDetailsBtn {
  align-self: flex-end;
  background-color: transparent;
  border: none;
  color: var(--neon);
  font-size: 1.8rem;
  padding: 10px 15px 0 0;
  position: absolute;
}

.exitDetailsBtn:hover {
  color: var(--white);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--neon);
  cursor: pointer;
  transform: scale(1.05);
}

.todoCheck {
  accent-color: var(--neon);
  width: 20px;
  height: 20px;
  appearance: none;
  border: 1px solid var(--neon);
}

.todoCheck:checked {
  background-color: var(--neon);
  border: none;
}

.todoCheck:checked::before {
  content: "\2713";
  display: block;
  text-align: center;
  font-size: 15px;
  color: #feecf9;
}

.projects {
  display: flex;
  height: 3rem;
  align-items: center;
  justify-content: space-between;
}

.projects button {
  background-color: #707070;
  font-size: 1.5rem;
  /* border: 1px solid var(--white); */
  margin: 0 1rem 0 0;
  height: 40px;
  width: 40px;
}

.projects button:hover {
  background-color: var(--white);
  color: #707070;
  box-shadow: none;
  transform: none;
}

.details {
  width: 100%;
}

.checkContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.newProjectPopUp {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 50%;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  color: black;
  font-weight: bolder;
  box-shadow: var(--shadow);
}

.newProjectHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 20%;
  background-color: #3b4a34;
}

.newProjectHeader h3 {
  color: #feecf9;
  padding-left: 3%;
  font-size: 1.25rem;
}

.newProjectHeader button {
  color: #feecf9;
  border: none;
  background-color: #3b4a34;
  padding: 0 1rem 0 0;
  font-size: 1.5rem;
}

.newProjectHeader button:hover {
  cursor: pointer;
}

.project h3 {
  padding-left: 15%;
}

.newProjectBody {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80%;
  justify-content: space-between;
  align-items: center;
}

.newProjectBody input {
  align-self: flex-start;
  width: 97%;
  border: none;
  background-color: #fcebc5;
  color: black;
  font-size: 1.5rem;
  padding: 1rem 0 0 3%;
}

.newProjectBody input:focus {
  outline: none;
}

.newProjectBody input::placeholder {
  color: #a6a2a2;
}
.newProjectBody button {
  background-color: #fcebc5;
  border: none;
  color: #3b4a34;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  margin-bottom: 2rem;
  border: 2px solid #3b4a34;
}

.newProjectBody button:hover {
  background-color: #3b4a34;
  color: #fcebc5;
  cursor: pointer;
}

.fieldContainer.project.sectionActive {
  background-color: #a6a2a2;
}

.fieldContainer.project:hover {
  background-color: #a6a2a2;
  color: #feecf9;
}

.left-project {
  display: flex;
  align-items: center;
  padding-left: 5%;
}
