html,
body {
  margin: 0;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  background-color: var(--white);
}

:root {
  --white: #fbfbf2;
  --platinum: #e5e6e4;
  --timber: #cfd2cd;
  --silver: #a6a2a2;
  --purple: #0c7c59;
  --shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075), 0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075), 0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 1200px;
  height: 70%;
  display: flex;
  flex-direction: column;
  box-shadow: var(--shadow);
}

.header {
  width: 100%;
  background-color: var(--purple);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #413c58;
}

.content {
  display: flex;
  width: 100%;
  height: 100%;
}

.toolbar {
  width: 25%;
  height: 100%;
  background-color: var(--platinum);
  padding-top: 1rem;
  border-right: 1px solid #413c58;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.toolbar button {
  font-size: 3rem;
  width: 100px;
  height: 100px;
  align-self: center;
  border-radius: 50%;
  border: none;
  margin-bottom: 20px;
  background-color: #413c58;
}

.toolbar button:hover {
  transform: scale(1.05);
  box-shadow: var(--shadow);
}

.fields {
  padding-left: 2rem;
  font-size: 1.3rem;
}

.todoFields:hover {
  cursor: pointer;
  color: #d64933;
  transform: translateX(10px);
}

.sectionActive {
  color: #413c58;
  transform: translateX(10px);
}

.todos {
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 1rem;
  background-color: var(--timber);
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  border: 2px solid var(--purple);
  border-radius: 1rem;
  transition: 0.2s ease;
  padding: 0 10px;
  color: #413c58;
}

.todo-item:hover {
  transform: scale(1.03);
  box-shadow: var(--shadow);
  transition: 0.2s ease;
}

.right,
.left {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.detail {
  padding: 8px 15px;
  background-color: var(--timber);
  border: 1px solid #413c58;
  color: #413c58;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  outline: none;
}

.detail:hover {
  background-color: #413c58;
  color: var(--timber);
  cursor: pointer;
}

.add-todo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 50%;
  display: flex;
  flex-direction: column;
  box-shadow: var(--shadow);
}

.add-inactive {
  display: none;
}

.content-newTodo {
  display: flex;
  width: 100%;
  height: 100%;
}

.create-new {
  background-color: var(--purple);
  color: var(--white);
  padding-left: 1rem;
}

.types {
  width: 25%;
  height: 100%;
  background-color: var(--platinum);
  padding-left: 1rem;
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 75%;
  background-color: var(--timber);
}

.top {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 1rem;
}

.top input {
  border: none;
  background-color: var(--mint);
  height: 30px;
  font-size: 1.5rem;
  padding-left: 15px;
  color: #413c58;
}

.top input::placeholder {
  color: #413c58;
}

.top input:last-of-type {
  font-size: 1.2rem;
}

.top input:focus {
  outline: none;
}

.bottom {
  display: flex;
  justify-content: space-between;
}

.choices {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.priority {
  display: flex;
  align-items: center;
  gap: 10px;
}

.priority input {
  display: none;
}

.low,
.medium,
.high {
  padding: 5px 15px;
  font-size: 0.9rem;
  font-weight: bold;
}

.low {
  border: 2px solid var(--purple);
  color: var(--purple);
}

.low:hover,
#low:checked + .low {
  background-color: var(--purple);
  color: var(--platinum);
  cursor: pointer;
}

.medium {
  border: 2px solid orange;
  color: orange;
}

.medium:hover,
#medium:checked + .medium {
  background-color: orange;
  color: var(--platinum);
}

.high {
  border: 2px solid red;
  color: red;
}

.high:hover,
#high:checked + .high {
  background-color: red;
  color: var(--platinum);
}

/* .priority input {
  display: none;
} */

.is-inactive {
  filter: blur(10px);
}

svg {
  height: 30px;
  width: 30px;
  fill: #413c58;
}

.details-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 50%;
}
